form {
    margin-top: 3%;
    margin-left: 2%;
}

h1  {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 90px;
    margin-bottom: 0;
}
h2{
    background-color: black;
    color: white;
    text-align: center;
    line-height: 75px;
    margin-bottom: 0;
}
h3 {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 45px;
    margin-bottom: 0;  
}

#button-row {
    margin-left: 2%;
}

.main-body {
    background-image: url(dust_scratches/dust_scratches.png);
  
}

img {
    float: left;
   
}

#gifs-go-here {
    margin-left: 2%;
}
